<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs') %>
</head>
<body>

<h1>You entered the wrong username or password.</h1>

<% if (currentUser) { %>
    <%- include('./messenger-user.ejs') %>
<% } else { %>
    <%- include('./messenger-visitor.ejs') %>
<% } %>
</body>
</html>