<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs') %>
      <!-- Google Tag Manager -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQV53SD');</script> -->
<!-- End Google Tag Manager -->
   
     
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQV53SD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <main class="about__display--row">
        <h1>Home</h1>
        <% if (currentUser) { %>

        <p>Welcome, <%= currentUser.fname%></p>
        <p>NOTE: TOUR BUTTON #1 ONLY WORKS ON THE LOGGED OUT SCREEN</p>
        <br>
        <p>Feel free to <a href="/logout" onclick="Intercom('shutdown')">logout</a> if you want.</p>
            <% } else { %>
        <p>Welcome, Guest</p>
        <br>
        <p>Please <a href="/register">register</a> or <a href="/login" >login</a></p>
        <% } %>
    </main> 
    <div class="bot-buttons" style="position:relative">
        <button type="button" class="button-bot button-one" style="display:inline">Bot Button 1</button>
        <button type="button" class="button-bot button-two" style="display:inline">Bot Button 2</button>
        <br/>
        <br/>
        <button type="button" class="button-tour-one" style="display:inline" onclick="Intercom('startTour', 279111)">Tour Button 1</button>
        <button type="button" class="button-tour-two" style="display:inline" onclick="Intercom('startTour', 279727)">Tour Button 2</button>
        <a class="tour_link" href="https://useful-useful-daffodil.glitch.me/?product_tour_id=556887">Tour Link</a>
        <br/>
        <br/>
        <button type="button" class="button-survey-one" style="display:inline" onclick="Intercom('startSurvey', 24407803)">Large Survey</button>
        <button type="button" class="button-survey-two" style="display:inline" onclick="Intercom('startSurvey', 24407890)">Small Survey</button>
        <a class="survey_link" href="https://evening-shelf-73540.herokuapp.com/?intercom_survey_id=24407803">Survey Link</a>
        <br/>
        <br/>
        <a class="button-help-center" href="https://intercom.help/narnia-4d7ae34e3be0">Help Center</a>
        <br/>
        <br/>
        <button type="button" class="button-bot button-one" id="event" onclick="Intercom('trackEvent', 'event-click')" style="display:inline" data-intercom-target="Button">Event 1</button>
        <button type="button" class="button-bot button-one" id="event" onclick="Intercom('trackEvent', 'event-click')" style="display:inline" data-intercom-target="Button">Event 2</button>
        <br/>
        <br/>
        <a href="https://useful-useful-daffodil.glitch.me/protected-route" target="_blank">Link to a new tab</a>

    </div>

    <% if (currentUser) { %>
        <%- include('./messenger-user.ejs') %>
    <% } else { %> -->
        <%- include('./messenger-visitor.ejs') %>
    <% } %>
</body>
</html>