<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs') %>
</head>
<body>
    <h1>Login Page</h1>
    <form method="POST" action="/login">
        <label>Enter Username:</label>
        <input type="text" name="uname">
        <br>
        <br>
        <label>Password:</label> 
        <input type="password" name="pw">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
    <% if (currentUser) { %>
        <%- include('./messenger-user.ejs') %>
    <% } else { %>
        <%- include('./messenger-visitor.ejs') %>
    <% } %> 
</body>
</html>