<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="congrats-container">
        <h1 class="congrats-message">Congrats on finding me!</h1>
    </div>

    <script src="/scripts.js"></script>
    <%- include('./messenger-visitor.ejs') %>
</body>
</html>
